In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import re
import random
from nltk import ngrams
from tensorflow.keras.layers.experimental.preprocessing import TextVectorization
import string
import re

ModuleNotFoundError: No module named 'tensorflow'

* First Name & Last Name Check - bigrams !!
* spell check
* Prepare dataset to extract actors and directors based on verbs

In [2]:
file_path = 'drive/MyDrive/Colab Notebooks/moviedata.csv'
root_path = 'drive/MyDrive/Colab Notebooks/'

In [3]:
df = pd.read_csv(file_path)
df = df[['Rank','Title','Genre','Director','Actors']]

In [4]:
genres = set()
directors = set()
actors = set()
for index,row in df.iterrows():
  entry = row["Genre"]
  for e in entry.split(","):
    genres.add(e.lower().strip())
  entry = row["Director"]
  for e in entry.split(","):
    directors.add(e.lower().strip())
  entry = row["Actors"]
  for e in entry.split(","):
    actors.add(e.lower().strip())
print("Found %d genres"%len(genres))
print("Found %d directors"%len(directors))
print("Found %d actors"%len(actors))

Found 20 genres
Found 644 directors
Found 1985 actors

In [5]:
training_data = []
for entry in genres:
  training_data.append([entry,0])
for entry in actors:
  training_data.append([entry,1])
for entry in directors:
  training_data.append([entry,2])
training_data = np.array(training_data)
training_data,len(training_data)

(array([['war', '0'],
        ['sci-fi', '0'],
        ['history', '0'],
        ...,
        ['kirsten sheridan', '2'],
        ['joe carnahan', '2'],
        ['ben wheatley', '2']], dtype='<U32'), 2649)

In [6]:
batch_size = 32
batch_constant = int(len(training_data)/batch_size)
epochs = 10
learning_rate = 0.0005
dropout = 0.3
max_features = 1000
embedding_dim = 128
sequence_length = 1
vectorize_layer = TextVectorization(
    max_tokens=max_features,
    output_mode="int",
    output_sequence_length=sequence_length,
)
vectorize_layer.adapt(training_data[:,0])

In [7]:
X_tr = training_data[:batch_constant*batch_size,0]
Y_tr = training_data[:batch_constant*batch_size,1].astype('int')

In [8]:
from tensorflow.keras import layers
from tensorflow.keras.optimizers import Adam

text_input = tf.keras.Input(shape=(1,), dtype=tf.string, name='text')
x = vectorize_layer(text_input)
x = layers.Embedding(max_features + 1, embedding_dim)(x)
x = layers.Dropout(dropout)(x)

# Conv1D + global max pooling
x = layers.Conv1D(embedding_dim, 1, padding="valid", activation="relu", strides=3)(x)
x = layers.Conv1D(embedding_dim, 1, padding="valid", activation="relu", strides=3)(x)
x = layers.GlobalMaxPooling1D()(x)

# We add a vanilla hidden layer:
x = layers.Dense(embedding_dim, activation="relu")(x)
x = layers.Dropout(dropout)(x)

# We project onto a single unit output layer, and squash it with a sigmoid:
y_pred = layers.Dense(3, activation="sigmoid", name="predictions")(x)

model = tf.keras.Model(text_input, y_pred)

# Compile the model with binary crossentropy loss and an adam optimizer.
model.compile(loss="sparse_categorical_crossentropy", optimizer=Adam(lr=learning_rate), metrics=["accuracy"])

In [9]:
# model.fit(np.array(X_tr),Y_tr, batch_size=batch_size,epochs=epochs,verbose=1)

In [10]:
# model.predict(["vin diesel"])

In [11]:
data = df.copy()
data=data.set_index(data.columns.drop('Genre',1).tolist()).Genre.str.split(',', expand=True).stack().reset_index().rename(columns={0:'Genre'}).loc[:, data.columns]
data=data.set_index(data.columns.drop('Director',1).tolist()).Director.str.split(',', expand=True).stack().reset_index().rename(columns={0:'Director'}).loc[:, data.columns]
data=data.set_index(data.columns.drop('Actors',1).tolist()).Actors.str.split(',', expand=True).stack().reset_index().rename(columns={0:'Actors'}).loc[:, data.columns]

In [12]:
data

       Rank                    Title  ...          Director            Actors
0         1  Guardians of the Galaxy  ...        James Gunn       Chris Pratt
1         1  Guardians of the Galaxy  ...        James Gunn        Vin Diesel
2         1  Guardians of the Galaxy  ...        James Gunn    Bradley Cooper
3         1  Guardians of the Galaxy  ...        James Gunn       Zoe Saldana
4         1  Guardians of the Galaxy  ...        James Gunn       Chris Pratt
...     ...                      ...  ...               ...               ...
10213  1000               Nine Lives  ...  Barry Sonnenfeld      Cheryl Hines
10214  1000               Nine Lives  ...  Barry Sonnenfeld      Kevin Spacey
10215  1000               Nine Lives  ...  Barry Sonnenfeld   Jennifer Garner
10216  1000               Nine Lives  ...  Barry Sonnenfeld      Robbie Amell
10217  1000               Nine Lives  ...  Barry Sonnenfeld      Cheryl Hines

[10218 rows x 5 columns]

In [13]:
data["Query"] = data["Genre"].str.cat(data[["Director", "Actors"]].astype(str), sep=" ")
training_data = data[["Title", "Query"]]
training_data["similarity"] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
import sys
from IPython.display import clear_output 

movies = set(df['Title'])
queries = set(data['Query'])
i = 0
for query in queries:
  for movie in movies:
    if not ((training_data['Title'] == movie) & (training_data['Query'] == query)).any():
      training_data.loc[len(training_data)] = [movie,query,0]
    i += 1
    clear_output()
    print("Iteration : %d"% i, flush=True)

Iteration : 13036

In [93]:
training_data

                         Title  ... similarity
0      Guardians of the Galaxy  ...          1
1      Guardians of the Galaxy  ...          1
2      Guardians of the Galaxy  ...          1
3      Guardians of the Galaxy  ...          1
4      Guardians of the Galaxy  ...          1
...                        ...  ...        ...
57000           3 Days to Kill  ...          0
57001             Café Society  ...          0
57002             Blood Father  ...          0
57003      Final Destination 5  ...          0
57004              Death Proof  ...          0

[57005 rows x 3 columns]

In [ ]:
training_data.to_csv(root_path+"movie_prep_data.csv")

In [ ]:
((data['Title'] == 'Guardians of the Galaxy') & (data['Query'] == 'Action James Gunn Chris Pratt')).any()

In [36]:
  text_input = tf.keras.Input(shape=(1,), dtype=tf.string, name='text')
x = vectorize_layer(text_input)
x = layers.Embedding(max_features + 1, embedding_dim)(x)
x = layers.Dropout(dropout)(x)
lstm_layer = layers.Bidirectional(tf.keras.layers.LSTM(64, dropout=0.2, recurrent_dropout=0.2))
emb = layers.Embedding(max_features + 1, embedding_dim)(x)
input1 = tf.keras.Input(shape=(300,))
e1 = emb(input1)
x1 = lstm_layer(e1)
input2 = tf.keras.Input(shape=(300,))
e2 = emb(input2)
x2 = lstm_layer(e2)
mhd = lambda x: tf.keras.backend.abs(x[0] - x[1])
merged = tf.keras.layers.Lambda(function=mhd, output_shape=lambda x: x[0],
name='L1_distance')([x1, x2])
preds = tf.keras.layers.Dense(1, activation='sigmoid')(merged)
model = tf.keras.Model(inputs=[input1, input2], outputs=preds)
model.compile(loss='mse', optimizer='adam')